* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.boxcenter {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
}

.row3 {
  display: flex;
  width: 100%;
  color: #fff;
}

.row2 {
  float: left;

}

.mb {
  margin-bottom: 20px;
}

/* CSS CHO PHẦN HEADER */
.header {
  background: rgb(31, 31, 124);
  border: 1px solid #ccc;
  font-size: 16px;
  padding: 20px;
}

.menu {
  background: rgb(31, 31, 124);
  border: 1px solid #ccc;
  padding: 5px;
  height: 40px;

}

.menu ul {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 30px;
}

.menu ul li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
}

.menu li a:hover,
.dropdown:hover .dropbtn {
  color: rgb(192, 215, 234);
  padding: 13px 0;
}

/* CSS CHO ADMIN */
.mr20 {
  margin-right: 10px;
}

label {
  display: flex;
  justify-content: start;
  font-size: 20px;
  color: red;
  margin-top: 5px;
}

.formds_loai table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ccc;
  padding: 20px;
}

.formds_loai table td {
  padding: 10px 20px;
  border: 1px #ccc solid;
  padding: 30px;
}

footer {
  background-color: rgb(63, 63, 63);
  padding: 15px 15px;
  color: #fff;
  font: size 15px;
}

.row {
  color: #000;
}

.mb20 {
  margin-bottom: 10px;
  gap: 10px;
}

.content input[type="text"] {
  width: 100%;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  height: 50px;
}

.content input[type="submit"] {

  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}

.content input[type="submit"]:hover {


  background-color: #CCC;
}

.content input[type="reset"] {

  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}

.content input[type="reset"]:hover {
  background-color: #CCC;
}

.content input[type="button"] {
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: white;
}

.content input[type="button"]:hover {
  background-color: #CCC;
}

.dslh table {
  width: 100%;
  border-collapse: collapse;

}

.dslh table th {

  padding: 15px 15px;
  background-color: #CCC;
}

.dslh table td {
  padding: 10px 20px;
  border: 1px solid #ccc;
}